*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    display: flex;
    flex-direction: column;
    list-style-type: none;
    background-color: #92a8d1;
    align-items: center;
}
li{
    display: flex;
    padding: 0.5rem;
    cursor: pointer;
    height: 100%;
    width: 100%;
    justify-content: center;
}
li:hover{
    background-color: #80ced6;
}




@media (min-width: 920px){

    ul{
        flex-direction: row;
        justify-content: space-around;
    }
}